<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de ingreso</title>
</head>
<body>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Documento</label>
          <input type="text" class="form-control" id="documento" >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Sede</label>
          <input type="text" class="form-control" id="sede">
        </div>
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Cesantías</label>
            <select id="cesantias" class="form-select">
              <option>Disabled select</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="disabledSelect" class="form-label">Eps</label>
            <select id="eps" class="form-select">
              <option>Disabled select</option>
            </select>
          </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Proceso</label>
            <input type="text" class="form-control" id="proceso">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gerencia</label>
            <input type="text" class="form-control" id="gerencia">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Banner</label>
            <input type="number" class="form-control" id="banner">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fecha de ingreso</label>
            <input type="date" class="form-control" id="ingreso">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Clave</label>
            <input type="password" class="form-control" id="clave">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Estado</label>
            <input type="text" class="form-control" id="estado">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Disponibilidad</label>
            <input type="text" class="form-control" id="disponibilidad">
        </div>

        
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
</body>
</html>
